body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.header{
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: #ffffff;
}

.header h1{
    font-size: 40px;
}

.navbar{
    background-color: black;
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color:#ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #dddddd;
    color: black;
}


.row{
    background-color: #ff3662;
    display: flex;
    flex-wrap: wrap;
    
}


.side {
    background-color: #f1f1f1;
    flex: 30%;
    padding: 20px;
}

.main{
    background-color: #ffffff;
    padding: 20px;
    flex: 70%;
    
}

.main a{
       
    text-decoration: crimson;

}
.main h6{
    color: white;
}

*{
    box-sizing: border-box;
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #dddddd;

}


.footer h2{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;;
}

.row a{
    text-decoration: none;
}


/* formataçao das imagens do portefolio */

.container{
    position: relative;
    width: 50%;
    max-width: 300px;
    margin:15px;

}

.image{
    display: block;
    


}


.overlay{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 200%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}




.container:hover .overlay{
    opacity: 1;
}

/*definilçao do menu fixo */

.conteiner{
    padding: 16px; 
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}


.main p{
    color: grey;
}