


.header{
    
    background: #1abc9c;
    color: #ffffff;
    padding: 20px;
    
}

.header h1{
    text-align: left;
    padding: 15px;
}

    
    
    .navbar{
        background-color: black;
        overflow: hidden;
    }

.navbar a{
    text-decoration: none;
    text-align: left;
    padding: 15px 148.45px;
    float: left;
    display: block;
    color: #ffffff;
}

.navbar a:hover{
    background-color: #dddddd;
    color: black;
}

.resto{
    background-color: #ffffff;
    padding: 275px;
    
    
}



*.p{
    margin: 0;
    text-align: left;
    
}

